@model IEnumerable<Homework8.Models.Artist>
@{
    ViewBag.Title = "Artists";
}
<div class="jumbotron">
    <h2>Artists</h2>
</div>

<!--A for loop to iterate over the rows of Artist table and return the artist name and the CRUD links-->
@foreach (var item in Model.ToList())
{
    <h2>
        @Html.ValueForModel(item.ArtistName) <br /></h2>
   <h4> 
        @Html.ActionLink("Details", "/Details/" + item.ID)
        @Html.ActionLink("Edit", "/Edit/" + item.ID)
        @Html.ActionLink("Delete", "/Delete/" + item.ID)
        <br />
        <br />
    </h4>
}
<h3>@Html.ActionLink("Add an Artist", "ArtistCreate")</h3>
