@model Homework8.Models.Artist

@section Javascript
{   <!--Render the javascript file CustomJS.js for the form validation function-->
    <script type="text/javascript" src="@Url.Content("/Scripts/CustomJS.js")"></script>
}

@{
    ViewBag.Title = "Edit";
}

<<h2>Edit</h2>

<form method="POST" onsubmit="return validateForm();">
    <display for="Artist Name">Artist's Name</display>
    <input type="text" name="artistName" id="artistName" title="Artist Name" value="@(ViewBag.aName == null ? "" : ViewBag.aName)" maxlength="50" />
    <br /><br />
    <dispay for="Birth City">Birth City</dispay>
    <input type="text" name="birthCity" id="birthCity" title="Birth City" value="@(ViewBag.aCity == null ? "" : ViewBag.aCity)" />
    <br /><br />
    <dispay for="Birth Country">Birth Country</dispay>
    <input type="text" name="birthCountry" id="birthCountry" title="Birth Country" value="@(ViewBag.aCountry == null ? "" : ViewBag.aCountry)" />
    <br /><br />
    <display for="Birth Date">Birth Date</display>
    <input type="date" name="birthDate" id="birthDate" title="Birth Date" value="@(ViewBag.aDOB == null ? "" : ViewBag.aDOB)" />
    <br /><br />
    <input type="submit" value="Update" />
</form>